h1{
    font-size: 60px;
    text-align: center;
    color: white;
}

body{
    background-color: #19172e;
}

th{
    position: relative;
    left: 50%;
    transform: translate(75%);
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
}

