body{
    background-color: rgb(75, 173, 222);
}

h1{
    color: white;
    text-align: center;
}

#face{
    position: absolute;
    z-index: 1;
    max-width: 500px;
    margin-left: 475px;
    margin-top: 50px;
}

#minute_hand{
    z-index: 2;
    position: relative;
    max-width: 95px;
    left: 677.5px;
    top: 120px;
}

#hour_hand{
    z-index:3;
    position: relative;
    max-height: 120px;
    left:596px;
    top: 115px;
}