@font-face {
    font-family: "Amsterdam";
    src: url('fonts/Amsterdam-ZVGqm.ttf') format('truetype');
    font-size: large;
    font-weight: 70;
    font-style: normal;
}

@font-face {
    font-family: "Allura" ;
    src: url("fonts/Allura-Regular.ttf") format('truetype');
    font-size: medium;
    font-weight: 100;
    font-style: normal;
}

body{
    background-color: rgb(4, 11, 49);
}

#heading{
    font-family: "Amsterdam";
    position: relative;
    text-align: center;
    color: white;
}

/* #clap{
    position: relative;
    text-align: center;
    height: 75px;
    width: 75px;
}
#hihat{
    position: relative;
    text-align: center;
    height : 75px;
    width: 75px;
} */
button{
    margin-top: 100px;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    height : 90px;
    width: 108px;
    border-color: rgb(214, 9, 211);
    border-radius: 5px;
    font-size: 40px;
    margin-left: 15px;
    background-color: black;
    color:white;
    border-width: 5px;
}

#clap{
    margin-left: 150px;

}
h6{
    font-size: 10px;
    color:white;
    margin-top: 15px;
}